html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #f4f4d8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Adjust as needed */
  z-index: 10;
}

footer {
  text-align: center;
  background-color: #f4f4d8;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* Adjust as needed */
  z-index: 10;
  overflow-y: auto;
}

/* Full size container for Cesium */
.fullSize {
  width: 100%;
  height: 100%;
  /* Add any additional styles you need here */
}

/* Styles for the loading overlay */
#loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  color: white;
  width: 100%;
  height: 100%;
  display: none; /* Change this to 'block' when loading */
  justify-content: center;
  align-items: center;
}

/* Add styles for the toolbar */
#toolbar {
  position: absolute;
  top: 10px;
  right: 10px;
  /* Add any additional styles you need here */
}
